/*
	TabControl.less
	module TabControl
*/
div.tab-container {
	div.nav_tab_box {
		background: #fff;
		border-bottom: solid 1px #fff;
		font-size: 1em;
		line-height: 2em;
		overflow: hidden;
	}

	div.tabcontrol {
		background-color: #aaa;
		width: 100%;
		text-align: left;
		color: #fff;
		word-spacing: 0;

		a, span {
			background: #888;
			color: #fff;
			/*height: 14px;*/
			/*font-weight: bold;*/
			padding: .6em .8em;
			text-decoration: none;
			cursor: pointer;
			margin-right: 0;
		}

		a.disabled, span.disabled {
			color: #bbb;
			cursor: default;
		}

		a.active, span.active, a.active:hover, span.active:hover {
			background: #fff;
			color: #9a1c1c;
			padding-top: 4px;
			font-weight: bold;
		}

		a:hover, span:hover {
			background: #ccc;
			color: #666;
		}

		a.disabled:hover, span.disabled:hover {
			background: #888;
			color: #aaa;
		}

		.tab .fa {
			margin-right: 4px;
		}
	}

	.tab-content.hidden {
		display: none;
	}
}
