/*
	TabControl.less
	module TabControl
*/
div.tab-container div.nav_tab_box {
  background: #fff;
  border-bottom: solid 1px #fff;
  font-size: 1em;
  line-height: 2em;
  overflow: hidden;
}
div.tab-container div.tabcontrol {
  background-color: #aaa;
  width: 100%;
  text-align: left;
  color: #fff;
  word-spacing: 0;
}
div.tab-container div.tabcontrol a,
div.tab-container div.tabcontrol span {
  background: #888;
  color: #fff;
  /*height: 14px;*/
  /*font-weight: bold;*/
  padding: .6em .8em;
  text-decoration: none;
  cursor: pointer;
  margin-right: 0;
}
div.tab-container div.tabcontrol a.disabled,
div.tab-container div.tabcontrol span.disabled {
  color: #bbb;
  cursor: default;
}
div.tab-container div.tabcontrol a.active,
div.tab-container div.tabcontrol span.active,
div.tab-container div.tabcontrol a.active:hover,
div.tab-container div.tabcontrol span.active:hover {
  background: #fff;
  color: #9a1c1c;
  padding-top: 4px;
  font-weight: bold;
}
div.tab-container div.tabcontrol a:hover,
div.tab-container div.tabcontrol span:hover {
  background: #ccc;
  color: #666;
}
div.tab-container div.tabcontrol a.disabled:hover,
div.tab-container div.tabcontrol span.disabled:hover {
  background: #888;
  color: #aaa;
}
div.tab-container div.tabcontrol .tab .fa {
  margin-right: 4px;
}
div.tab-container .tab-content.hidden {
  display: none;
}
/*# sourceMappingURL=TabControl.css.map */